<div class="container-fluid">
    <button *ngIf="!readOnly" class="btn btn-success" (click)="toggleForm(true)">Ingreso</button>
    <button *ngIf="!readOnly" class="btn btn-danger" (click)="toggleForm(false)">Gasto</button>
    <div *ngIf="isFormVisible && !readOnly">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="container needs-validation">
            <div class="form-group">
              <label for="descripcion">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" formControlName="descripcion" aria-describedby="emailHelp" placeholder="descripcion" required>
              <div *ngIf="myForm.get('descripcion')?.invalid && myForm.get('descripcion')?.touched" 
              [ngClass]="{'d-block': myForm.get('descripcion')?.invalid && myForm.get('descripcion')?.touched, 'd-none': !(myForm.get('descripcion')?.invalid && myForm.get('descripcion')?.touched)}" 
              class="invalid-feedback">Debe ingresar una descripcion</div>
            </div>
            <br/>
            <div class="row form-group">
                <div class="col-3">
                    <label class="sr-only" for="inlineFormTotal">Total</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" formControlName="valor" id="inlineFormTotal" placeholder="Valor" required>
                        <div *ngIf="myForm.get('valor')?.invalid && myForm.get('valor')?.touched" 
                            [ngClass]="{'d-block': myForm.get('valor')?.invalid && myForm.get('valor')?.touched, 'd-none': !(myForm.get('valor')?.invalid && myForm.get('valor')?.touched)}" 
                            class="invalid-feedback">Debe ingresar el valor
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <select class="form-select" formControlName="formaDePago">
                        <option *ngFor="let fPago of formaDePago" [value]="fPago.value">{{fPago.viewValue}}</option>
                    </select>
                </div>                
              </div>
            <button *ngIf="esIngreso" type="submit" class="btn btn-success">Agregar</button>          
            <button *ngIf="!esIngreso" type="submit" class="btn btn-danger">Agregar</button>
        </form>
    </div>
    <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Fecha</th>
                        <th>Contado</th>
                        <th>Tarjeta</th>
                        <th>Cuenta DNI</th>
                        <th>Borrar</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pago of pagos">
                        <td class="col-md-5">{{ pago.descripcion }}</td>
                        <td class="col-md-2">{{ pago.fechaPago | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td class="col-md-1">
                            <span *ngIf="pago.formaPago === 1" [ngClass]="{'red-text': pago.valor < 0, 'green-text': pago.valor > 0}">
                                {{pago.valor | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR'}}
                            </span>
                        </td>
                        <td class="col-md-1">
                            <span *ngIf="pago.formaPago === 2" [ngClass]="{'red-text': pago.valor < 0, 'green-text': pago.valor > 0}">
                                {{pago.valor | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR'}}
                            </span>
                        </td>
                        <td class="col-md-1">
                            <span *ngIf="pago.formaPago === 3" [ngClass]="{'red-text': pago.valor < 0, 'green-text': pago.valor > 0}">
                                {{pago.valor | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR'}}
                            </span>
                        </td>
                        <td class="col-md-1"><button *ngIf="pago.idPedido === '-1' && !readOnly" class="btn btn-danger" (click)="eliminarPago(pago)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                        <td class="col-md-1"><button *ngIf="pago.idPedido === '-1' && !readOnly" class="btn btn-dark" (click)="editarPago(pago)"><i class="fas fa-edit"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <hr/>
            
    </div>
    <div class="row">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td class="col-md-5"><b>Total</b></td>
                    <td class="col-md-2"></td>
                    <td class="col-md-1" [ngClass]="{'red-text': totalContado < 0, 'green-text': totalContado > 0}"><b>{{totalContado | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR'}}</b></td>
                    <td class="col-md-1" [ngClass]="{'red-text': totalTarjeta < 0, 'green-text': totalTarjeta > 0}"><b>{{totalTarjeta | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR'}}</b></td>
                    <td class="col-md-1" [ngClass]="{'red-text': totalDNI < 0, 'green-text': totalDNI > 0}"><b>{{totalDNI | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR'}}</b></td>
                    <td class="col-md-1"></td>
                    <td class="col-md-1"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>