<div class="container-fluid">
    <div class="row">
        <app-grafico-resumen-ultimo-dia></app-grafico-resumen-ultimo-dia>
        <div class="col-6">
        </div>
        <div class="col-6">
        </div>
        </div>
        <div class="row">
            <app-grafico-resumen-barra-ultimos-dias></app-grafico-resumen-barra-ultimos-dias>
        </div>
        <div class="row">
            <app-grafico-histograma></app-grafico-histograma>
        </div>
    <!--app-tabla-caja-historial></app-tabla-caja-historial-->
</div>
