input.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}
#limpiar {
    margin-left: 5px;
    margin-top: 5px;
}
#buscar {
    margin-top: 5px;
}

.fa-thumbs-down {
    color: red;
}

.fa-thumbs-up {
    color: green;
}