<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <form [formGroup]="pagoForm" (ngSubmit)="agregarPago()" class="container">
      <div *ngIf="subTotal < totalPedido" class="form-group row">
          <div class="col-md-5">
              <label class="sr-only" for="valorPago">Total</label>
              <div class="input-group mb-2">
                  <div class="input-group-prepend">
                      <div class="input-group-text">Pagar $</div>
                  </div>
                  <input type="number" class="form-control" id="valorPago" formControlName="valor" placeholder="Ingrese el valor del pago" required>
                  <div *ngIf="pagoForm.get('valor')?.invalid && pagoForm.get('valor')?.touched" 
                  [ngClass]="{'d-block': pagoForm.get('valor')?.invalid && pagoForm.get('valor')?.touched, 'd-none': !(pagoForm.get('valor')?.invalid && pagoForm.get('valor')?.touched)}" 
                  class="invalid-feedback">Debe ingresar el valor</div>
              </div>
          </div>
          <div class="col-md-5">
            <select class="form-select" formControlName="formaDePago">
                <option *ngFor="let fPago of formaDePago" [value]="fPago.value">{{fPago.viewValue}}</option>
            </select>
          </div>
          <div class="col-md-2">
              <button type="submit" class="btn btn-success">Agregar</button>
          </div>
      </div>
    </form>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
            <thead>
                <tr>
                <th>ID Pago</th>
                <th>ID Pedido</th>
                <th>Fecha Pago</th>
                <th>Valor</th>
                <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pago of pagos">
                <td>{{ pago._id }}</td>
                <td>{{ pago.idPedido }}</td>
                <td>{{ pago.fechaPago | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ pago.valor | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR'}}</td>
                <td><button class="btn btn-danger" *ngIf="subTotal < totalPedido" (click)="eliminarPago(pago)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <hr/>
    <div class="row w-100">
        <div class="col">
          <h3>Sub total:</h3>
        </div>
        <div class="col text-end">
          <h3>{{ subTotal | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR'}}</h3>
        </div>
      </div>
    <div class="row w-100">
      <div class="col">
        <h2>Total:</h2>
      </div>
      <div class="col text-end">
        <h3>{{ totalPedido | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR'}}</h3>
      </div>
    </div>
    <div class="row w-100">
      <div class="col">
        <h3>Resta:</h3>
      </div>
      <div class="col text-end">
        <h3>{{ totalPedido - subTotal | currency: 'ARS' : 'symbol-narrow' : '0.0-0' : 'es-AR' }}</h3>
      </div>
    </div>
  </div>
