<div class="app-layout">
  <div class="menu-toolbar">
    <button class="btn btn-dark" (click)="toggleSidebar()">
      <i class="fa fa-bars"></i>
      {{ sidebarVisible ? 'Ocultar menu' : 'Mostrar menu' }}
    </button>
  </div>

  <div class="container-fluid">
    <div class="row flex-nowrap app-row">
      <aside class="col-md-2 px-0 sidebar-column" [class.d-none]="!sidebarVisible">
        <nav id="sidebar" class="sidebar-panel border-end">
          <ul id="sidebar-nav" class="list-group min-vh-100">
            <li class="list-group-item" (click)="cambiarComponente('caja')">Caja</li>
            <li class="list-group-item" (click)="cambiarComponente('productos')">Productos</li>

            <li class="list-group-item section-toggle" (click)="toggleCollapse('usuario')">
              <i *ngIf="isUsuariosCollapsed" class="fa fa-arrow-down"></i>
              <i *ngIf="!isUsuariosCollapsed" class="fa fa-arrow-up"></i>
              Usuarios
            </li>
            <ul *ngIf="!isUsuariosCollapsed" class="list-group submenu-group">
              <li class="list-group-item" (click)="cambiarComponente('clientes')">Clientes</li>
              <li class="list-group-item" (click)="cambiarComponente('proveedores')">Proveedores</li>
            </ul>

            <li class="list-group-item section-toggle" (click)="toggleCollapse('comprobante')">
              <i *ngIf="isComprobanteCollapsed" class="fa fa-arrow-down"></i>
              <i *ngIf="!isComprobanteCollapsed" class="fa fa-arrow-up"></i>
              Comprobantes
            </li>
            <ul *ngIf="!isComprobanteCollapsed" class="list-group submenu-group">
              <li class="list-group-item" (click)="cambiarComponente('cuentaCorriente')">Cuenta Corriente</li>
              <li class="list-group-item" (click)="cambiarComponente('notacredito')">Nota de Credito</li>
              <li class="list-group-item" (click)="cambiarComponente('ordencompra')">Orden de Compra</li>
              <li class="list-group-item" (click)="cambiarComponente('ordenventa')">Orden de Venta</li>
            </ul>

            <li class="list-group-item" (click)="cambiarComponente('pedidos')">Pedidos</li>
            <li class="list-group-item" (click)="cambiarComponente('estadisticas')">Resumen Cuentas</li>
            <li class="list-group-item cierre-caja" (click)="cerrarCaja()">Cerrar Caja</li>
          </ul>
        </nav>
      </aside>

      <main class="content-area pt-2" [class.col-md-10]="sidebarVisible" [class.col-md-12]="!sidebarVisible">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
