<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-1">
      <button class="btn btn-dark" (click)="crearPedido()">Crear</button>
    </div>
    <div class="col-2">
      <button class="btn btn-dark" (click)="isCollapsed = !isCollapsed">{{isCollapsed ? 'Mostrar filtros' : 'Ocultar filtros'}}</button>
    </div>
  </div>

  <div *ngIf="!isCollapsed">
    <form [formGroup]="filterForm" class="container">
      <div class="row">
        <div class="col-4 form-group">
          <div class="form-group">
            <label for="dniCliente">DNI:</label>
            <input type="text" id="dniCliente" formControlName="dniCliente" class="form-control" name="dniCliente" aria-describedby="dniClienteHelp" placeholder="DNI"/>
          </div>
        </div>
        <div class="col-4 form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" formControlName="nombre" class="form-control" name="nombre" aria-describedby="nombreHelp" placeholder="Nombre"/>
        </div>
        <div class="col-4 form-group">
          <label for="idPedido">ID Pedido:</label>
          <input type="text" id="idPedido" formControlName="idPedido" class="form-control" name="idPedido" aria-describedby="idPedidoHelp" placeholder="ID Pedido"/>
        </div>               
      </div>
      <br/>
      <div class="row">
        <div class="col-3 test">
          <mat-form-field class="example-form-field">
            <mat-label>Rango de fecha</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate formControlName="fechaDesde">
              <input matEndDate formControlName="fechaHasta">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button class="btn btn-danger">Cancel</button>
                <button class="btn btn-dark" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
        </div> 
      </div>
      <br/>
      <div class="row">
        <div class="col-1">
          <button class="btn btn-dark" (click)="buscar()">Buscar</button>
        </div>
        <div class="col-1">
          <button class="btn btn-dark" (click)="limpiar()">Limpiar</button>
        </div>
      </div>      
    </form>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID Pedido</th>
          <th>DNI</th>
          <th>Fecha Pedido</th>
          <th>Nombre</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos| paginate: { itemsPerPage: 15, currentPage: p }">
          <td>{{ pedido._id }}</td>
          <td>{{ pedido.dniCliente }}</td>
          <td>{{ pedido.fechaPedido | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ pedido.nombreCliente }}</td>
          <td>{{ pedido.estado }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>