<div class="modal-header">
    <h4 class="modal-title">Alta Usuario</h4>
    <p class="modal-title">Usar dni para cliente y cuit para proveedor</p>
    <button type="button" class="close" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="container needs-validation">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="dni">DNI/CUIT</label>
            <input type="number" class="form-control" id="dni" formControlName="dni" aria-describedby="emailHelp" placeholder="Usar dni para cliente y cuit para proveedor" required>
            <div *ngIf="myForm.get('dni')?.invalid && myForm.get('dni')?.touched" 
            [ngClass]="{'d-block': myForm.get('dni')?.invalid && myForm.get('dni')?.touched, 'd-none': !(myForm.get('dni')?.invalid && myForm.get('dni')?.touched)}" 
            class="invalid-feedback">Debe ingresar el dni</div>
          </div>
          <div class="col-md-6 form-group">
            <label for="tipoUsuario">Tipo</label>
            <select id="tipoUsuario" class="form-select" formControlName="tipoUsuario">
              <option [value]="1">Cliente</option>
              <option [value]="2">Proveedor</option>
            </select>
          </div>
        </div>
        <br/>
        <div class="form-group">
          <label for="nombre">Nombre y Apellido</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" aria-describedby="emailHelp" placeholder="Nombre y Apellido" required>
          <div *ngIf="myForm.get('nombre')?.invalid && myForm.get('nombre')?.touched" 
          [ngClass]="{'d-block': myForm.get('nombre')?.invalid && myForm.get('nombre')?.touched, 'd-none': !(myForm.get('nombre')?.invalid && myForm.get('nombre')?.touched)}" 
          class="invalid-feedback">Debe ingresar el nombre</div>
        </div>
        <br/>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Email" required>
            <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" 
              [ngClass]="{'d-block': myForm.get('email')?.invalid && myForm.get('email')?.touched, 'd-none': !(myForm.get('email')?.invalid && myForm.get('email')?.touched)}" 
              class="invalid-feedback">Debe ingresar el email</div>
        </div>
        <br *ngIf="myForm.get('tipoUsuario') && myForm.get('tipoUsuario')?.value === '1'"/>
        <div *ngIf="myForm.get('tipoUsuario') && myForm.get('tipoUsuario')?.value === '1'" class="form-group">
          <label for="fechaNacimiento">Fecha Nacimiento</label>
          <input type="date" class="form-control" formControlName="fechaNacimiento" id="fechaNacimiento" placeholder="fechaNacimiento">
          <div *ngIf="myForm.get('fechaNacimiento')?.invalid && myForm.get('fechaNacimiento')?.touched" 
            [ngClass]="{'d-block': myForm.get('fechaNacimiento')?.invalid && myForm.get('fechaNacimiento')?.touched, 'd-none': !(myForm.get('fechaNacimiento')?.invalid && myForm.get('fechaNacimiento')?.touched)}" 
            class="invalid-feedback">Debe ingresar una fecha nacimiento</div>
        </div>
        <br/>
        <div class="form-group">
            <label for="direccion">Direccion</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion" aria-describedby="emailHelp" placeholder="Direccion" required>
            <div *ngIf="myForm.get('direccion')?.invalid && myForm.get('direccion')?.touched" 
            [ngClass]="{'d-block': myForm.get('direccion')?.invalid && myForm.get('direccion')?.touched, 'd-none': !(myForm.get('direccion')?.invalid && myForm.get('direccion')?.touched)}" 
            class="invalid-feedback">Debe ingresar la direccion</div>
          </div>
        <br/>
        <div class="row">
          <div *ngIf="myForm.get('tipoUsuario') && (myForm.get('tipoUsuario')?.value === 2 || myForm.get('tipoUsuario')?.value === '2')" class="col-md-3">
            <div class="form-group">
              <label for="porcentajeRemarcar">% Aumento</label>
              <input type="number" class="form-control" id="porcentajeRemarcar" formControlName="porcentajeRemarcar" aria-describedby="emailHelp" placeholder="Remarcar" required>
              <div *ngIf="myForm.get('porcentajeRemarcar')?.invalid && myForm.get('porcentajeRemarcar')?.touched" 
              [ngClass]="{'d-block': myForm.get('porcentajeRemarcar')?.invalid && myForm.get('porcentajeRemarcar')?.touched, 'd-none': !(myForm.get('porcentajeRemarcar')?.invalid && myForm.get('porcentajeRemarcar')?.touched)}" 
              class="invalid-feedback">Debe ingresar el Porcentaje</div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <label for="telefono">Telefono</label>
              <input type="text" class="form-control" id="telefono" formControlName="telefono" aria-describedby="emailHelp" placeholder="Telefono" required>
              <div *ngIf="myForm.get('telefono')?.invalid && myForm.get('telefono')?.touched" 
              [ngClass]="{'d-block': myForm.get('telefono')?.invalid && myForm.get('telefono')?.touched, 'd-none': !(myForm.get('telefono')?.invalid && myForm.get('telefono')?.touched)}" 
              class="invalid-feedback">Debe ingresar el telefono</div>
            </div>
          </div>
        </div>
        
        <br/>
        <div *ngIf="myForm.get('tipoUsuario') && myForm.get('tipoUsuario')?.value === '1'" class="form-group">
            <label for="cuit">Cuit</label>
            <input type="text" class="form-control" id="cuit" formControlName="cuit" aria-describedby="emailHelp" placeholder="Cuit">
            <div *ngIf="myForm.get('cuit')?.invalid && myForm.get('cuit')?.touched" 
            [ngClass]="{'d-block': myForm.get('cuit')?.invalid && myForm.get('cuit')?.touched, 'd-none': !(myForm.get('cuit')?.invalid && myForm.get('cuit')?.touched)}" 
            class="invalid-feedback">Debe ingresar el Cuit</div>
          </div>
        <br/>
        <button type="submit" class="btn btn-dark">Agregar</button>
      
    </form>
</div>
