<div class="modal-header">
  <h4 class="modal-title">Crear Pedido</h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="container">

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="container needs-validation">
        <div class="row">
          <div class="col form-group">
            <div class="form-group">
              <label for="dni">DNI</label>
              <input type="number" class="form-control" id="dni" name="dni" formControlName="dni" aria-describedby="emailHelp" placeholder="DNI" required>
              <div *ngIf="myForm.get('dni')?.invalid && myForm.get('dni')?.touched"
              [ngClass]="{'d-block': myForm.get('dni')?.invalid && myForm.get('dni')?.touched, 'd-none': !(myForm.get('dni')?.invalid && myForm.get('dni')?.touched)}"
              class="invalid-feedback">Debe ingresar el dni</div>
            </div>
          </div>
          <div class="col form-group" id="divBuscar">
            <button type="submit" class="btn btn-dark" id="btnBuscar" (click)="buscarCliente()">Buscar</button>
          </div>
        </div>
        <div *ngIf="cliente">
          <div class="form-group">
            <label for="nombre">Nombre y Apellido</label>
            <input type="text" [ngModel]="cliente.nombre" class="form-control" id="nombre" formControlName="nombre" aria-describedby="emailHelp" placeholder="Nombre y Apellido" readonly required>
          </div>
          <br/>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" [ngModel]="cliente.email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Email" readonly required>
          </div>
          <br/>
          <div class="form-group">
              <label for="descripcion">Descripcion</label>
              <textarea class="form-control" formControlName="descripcion" id="descripcion" rows="3" required></textarea>
              <div *ngIf="myForm.get('descripcion')?.invalid && myForm.get('descripcion')?.touched"
                [ngClass]="{'d-block': myForm.get('descripcion')?.invalid && myForm.get('descripcion')?.touched, 'd-none': !(myForm.get('descripcion')?.invalid && myForm.get('descripcion')?.touched)}"
                class="invalid-feedback">Debe ingresar la descripcion</div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-3 form-group">
              <label class="sr-only" for="inlineFormSeña">Seña</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Seña $</div>
                </div>
                <input type="number" class="form-control" formControlName="seña" id="inlineFormSeña" placeholder="Seña" required>
                <div *ngIf="myForm.get('seña')?.invalid && myForm.get('seña')?.touched"
                  [ngClass]="{'d-block': myForm.get('seña')?.invalid && myForm.get('seña')?.touched, 'd-none': !(myForm.get('seña')?.invalid && myForm.get('seña')?.touched)}"
                  class="invalid-feedback">Debe ingresar la seña</div>
                <div *ngIf="myForm.errors?.['senaMayorQueTotal'] && myForm.get('seña')?.touched" class="text-danger">
                  La seña no puede ser mayor que el total.
                </div>
              </div>
            </div>
            <div class="col-md-3 form-group">
              <select class="form-select" formControlName="formaDePago">
                <option *ngFor="let fPago of formaDePago" [value]="fPago.value">{{fPago.viewValue}}</option>
              </select>
            </div>
            <div class="col-md-3 form-group">
              <select class="form-select" formControlName="tipoDePedido">
                <option *ngFor="let fCuenta of tipoDePedido" [value]="fCuenta.value">{{fCuenta.viewValue}}</option>
              </select>
            </div>
            <div class="col-md-3 form-group">
              <label class="sr-only" for="inlineFormTotal">Total</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" class="form-control" formControlName="total" id="inlineFormTotal" placeholder="Total" required>
                <div *ngIf="myForm.get('total')?.invalid && myForm.get('total')?.touched"
                  [ngClass]="{'d-block': myForm.get('total')?.invalid && myForm.get('total')?.touched, 'd-none': !(myForm.get('total')?.invalid && myForm.get('total')?.touched)}"
                  class="invalid-feedback">Debe ingresar el total</div>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-1">
              <button type="submit" class="btn btn-dark">Agregar</button>
            </div>
            <div class="col-10">
              <span></span>
            </div>
            <div class="col-1">
              <span type class="btn btn-primary" (click)="enviarEmail()"><i class="fa fa-envelope" aria-hidden="true" title="Enviar Email"></i></span>
            </div>
          </div>
        </div>
    </form>
  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white">Cargando...</p>
  </ngx-spinner>
</div>
