/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input.ng-invalid.ng-touched:not(div.mat-date-range-input-wrapper input), select.ng-valid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched:not(div.mat-date-range-input-wrapper input), select.ng-valid.ng-touched {
    border: 1px solid green;
}

.modal-header {
    justify-content: space-between;
}

button.close {
    border: hidden;
    background: white;
}

.btnEditar {
    margin-left: 2px;
}

.fa-truck {
    margin-left: 4px;
}
.no-enviado {
    color: red;
}

.enviado {
    color: green;
}

.en-produccion {
    color: gold;
}

.terminado {
    color: orange;
}