/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --app-bg: #f3eff7;
  --content-bg: #f7f4fb;
  --menu-panel-bg: #f3eff7;
  --menu-border: #ddd4e8;
  --menu-item-bg: transparent;
  --menu-item-hover: rgba(136, 121, 163, 0.14);
  --menu-subitem-bg: rgba(255, 255, 255, 0.26);
  --menu-text: #4a4460;
  --table-head-bg: #ece7f4;
  --table-row-hover-bg: #e9e2f3;
  --field-bg: #fffefc;
  --field-border: #d9d3e8;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #47415e;
  background: var(--app-bg);
}

input.ng-invalid.ng-touched:not(div.mat-date-range-input-wrapper input), select.ng-valid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched:not(div.mat-date-range-input-wrapper input), select.ng-valid.ng-touched {
    border: 1px solid green;
}

.modal-header {
    justify-content: space-between;
    background: #f2f8ff;
    border-bottom: 1px solid #ddd7ea;
}

.modal-footer {
    background: #fffaf2;
    border-top: 1px solid #ddd7ea;
}

button.close {
    border: hidden;
    background: white;
}

.btnEditar {
    margin-left: 2px;
}

.fa-truck {
    margin-left: 4px;
}
.no-enviado {
    color: red;
}

.enviado {
    color: green;
}

.en-produccion {
    color: gold;
}

.terminado {
    color: orange;
}

.table {
  border-color: #d9d5e4;
}

table thead th,
.table thead th,
.table > thead > tr > th,
.table-striped > thead > tr > th {
  background-color: var(--table-head-bg) !important;
  color: #3f4b62;
  border-bottom-color: #d5cfe2;
}

.table tbody tr {
  transition: background-color 0.18s ease;
}

.table tbody tr:hover {
  cursor: pointer;
}

.table tbody tr:hover > td {
  background-color: var(--table-row-hover-bg);
}

.form-control,
.form-select,
.mat-mdc-text-field-wrapper {
  background-color: var(--field-bg);
  border-color: var(--field-border);
}

.form-control:focus,
.form-select:focus {
  border-color: #bcaed7;
  box-shadow: 0 0 0 0.2rem rgba(190, 173, 219, 0.25);
}

hr {
  border-color: #ddd7ea;
}



